.CurrentState{
    flex: 4;
    display: flex;
}

.CurrentStateContainer{
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    flex: 1;
    background-color: #2E3440;
    color: #D8DEE9;
    margin: 100px 330px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 20px -10px #000000; 
    box-shadow: 0px 0px 20px -10px #000000;
    justify-content: space-around;
}

.currentStateData{
    display: grid;
    align-self: center;
    text-align: center;
}

.title,.slot{
    font-size: 30px;
    color: #D8DEE9;
}

hr{
    margin: 30px;
}

.WeightIcon{
    margin: 0;
    padding: 0;
}
.updatedDate{
    line-height: 30px;
}