.InventoryPerDate{
    flex: 4;
    display: flex;
    margin-top: 20px;
}

.ChartContainer{
    flex: 1;
    background-color: #2E3440;
    color: #D8DEE9;
    margin: 0px 20px;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px -10px #000000; 
    box-shadow: 0px 0px 20px -10px #000000;
}
.ChartTitle{
    display: flex;
    align-content: center;
    font-size: 30px;
    padding-bottom: 15px;
}
