.AddNewProducts{
    display: flex;
}

.AddNewProductContainer{
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    flex: 1;
    background-color: #2E3440;
    color: #D8DEE9;
    margin: 100px 330px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 20px -10px #000000; 
    box-shadow: 0px 0px 20px -10px #000000;
    justify-content: space-around;
}

.FormContainer{
    display: flex;
    align-self: center;
    text-align: center;
    width: 100%;
}

.FormAddNewProduct{
    flex: 4;
    width: 100%;
}

.textContent{
    display: block;
    padding-right: 8%;
    padding-left: 8%;
}

.titleOfReg{
    margin-top: 50px;
    font-size: 32px;
    color: #D8DEE9;
    line-height: 150px;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
}

fieldset{
    font-size: 22px;
    color: #D8DEE9;
}
.FormAddNewProduct{
    display: grid;
    width: 80%;
}

input{
    width: 95%;
    background-color: #D8DEE9;
    border-radius: 9px;
    height: 30px;
    border-color: #D8DEE9;
    border-style: solid;
    color: #D8DEE9;
    padding-left: 10px;
}
button{
    margin-top: 12px;
    border-radius: 7px;
    height: 50px;
    background-color: #D8DEE9;
    border-style: none;
    font-size: 18px;
}
